@use '@carbon/react/scss/breakpoint' as *;
@use './utils/mixins';

:root {
  --enj-grid-content-gap: 4px;
}

/**
 * 4 cells grid
 * ------
**/
.grid-of-customTiles {
  .tabs-group-content,
  .tabs-group-content--single-col {
    .cds--css-grid-column {
      &:nth-of-type(1n) {
        margin-top: var(--enj-grid-content-gap);
      }
    }
  }
}

.grid-of-customTiles-1 {
  .tabs-group-content--single-col {
    .cds--css-grid-column {
      @include breakpoint('md') {
        margin-left: calc(var(--enj-grid-content-gap) / 2);
      }
    }
  }

  .tabs-group-content {
    .cds--css-grid-column {
      @include breakpoint('md') {
        &:nth-of-type(2n + 1) {
          margin-right: calc(var(--enj-grid-content-gap) / 2);
        }
        &:nth-of-type(2n) {
          margin-left: calc(var(--enj-grid-content-gap) / 2);
        }
      }

      // @include breakpoint('lg') {
      // }
      // @include breakpoint('xlg') {
      // }
    }
  }
}

/**
 * 4 cells grid
 * ------
**/
.grid-of-customTiles-2 {
  .tabs-group-content {
    .cds--css-grid-column {
      @include breakpoint('md') {
        &:nth-of-type(2n + 1) {
          margin-right: calc(var(--enj-grid-content-gap) / 2);
        }
        &:nth-of-type(2n) {
          margin-left: calc(var(--enj-grid-content-gap) / 2);
        }
      }
    }
  }

  &.grid-of-customTiles-padding {
    @include mixins.PCS-paddingTop;
  }
}
