// Carbon core styles
@use 'carbon-components/scss/globals/scss/styles.scss' as carbon;

@use '@carbon/styles/scss/themes' as *;
@use '@carbon/styles/scss/theme' as *;
@use '@carbon/react/scss/colors' as colors;
@use '@carbon/react';
@use './enj-AppHeader';

.cds--content {
  padding: 0;
}

/**
 * smt-box: Scroll Margin Top Box
 Gap between the viewport top and the component's top-edge 
**/
.smt-box {
  scroll-margin-top: 80px;

  // The gap is higher for this specific section
  &#scope-of-expertise {
    scroll-margin-top: 160px;
  }
}

.skeleton-animation {
  margin: 3rem;
  padding: 3rem;
  background-color: colors.$purple-30;
}
